---
export interface Props {
  children: any;
  class?: string;
  href: string;
}

const { class: className, href, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a class:list={[className, { underline: isActive }]} href={href} {...props}>
  <slot />
</a>
