---
export interface LinkProps {
  children: any;
  class?: string;
  href: string;
}

const { class: className, href } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class:list={[className, { underline: isActive }]} href={href}>
  <slot />
</a>
