---
import Container from '@/components/Container.astro';
import Map from '@/components/Map.astro';
import Layout from '@/layouts/Default.astro';
---

<Layout
  meta={{
    title: "Thank You",
  }}
>
  <Map class="h-[96px]  lg:h-[328px]" heading="Contact" />
  <Container>
    <div class="max-w-none  prose  py-8  sm:py-12  md:prose-md  lg:prose-lg">
      <p>
        Thank you for your message. I will try and reply to you within 24 hours.
      </p>
    </div>
  </Container>
</Layout>
