---
import Container from '@/components/Container.astro';
import { Content } from '@/content/pages/about/index.md';
import me from '@/images/christopher-robinson.jpg';
import Layout from '@/layouts/Default.astro';
---

<Layout heading="Feeling nosy?">
  <Container>
    <div class="bg-white  border  border-zinc-200  float-right  mb-6  ml-6  mt-8  p-2  rotate-3  rounded-md  shadow  transform  w-32  sm:mt-12  sm:p-3  sm:w-56  md:w-64">
      <Picture
        alt="Photo of Christopher Robinson"
        class="rounded-md"
        densities={[2]}
        formats={['avif', 'webp']}
        height={300}
        pictureAttributes={{ class: '!m-0' }}
        src={me}
        width={300}
      />
      <span class="hidden  mt-3  text-center  text-sm   text-zinc-600  sm:block">Photo of Christopher Robinson</span>
    </div>
    <div class="max-w-none  prose  py-8  sm:py-12  md:prose-md  lg:prose-lg">
      <Content />
    </div>
  </Container>
</Layout>
