---
import ContactForm from '@/components/ContactForm.astro';
import Container from '@/components/Container.astro';
import Layout from '@/layouts/Default.astro';
---

<Layout heading="Contact">
  <Container>
    <div class="max-w-none  prose  py-8  sm:pt-16  md:prose-md  lg:prose-lg">
      <p>
        The easiest way to get in touch is to send me a message. If you are
        getting in touch regarding work, please contain as much detail as
        possible in your message and I will aim to reply within 24hrs.
      </p>
    </div>
    <ContactForm actionUrl="/contact/thank-you/" />
  </Container>
</Layout>
