---
import Container from '@/components/Container.astro';
import LatestBlogPosts from '@/components/LatestBlogPosts.astro';
import me from '@/images/christopher-robinson.jpg';
import Layout from '@/layouts/Default.astro';
---

<Layout
  meta={{
    description: "Christopher Robinson is a web developer with over eighteen years of professional experience developing websites and applications of varying size and scale based on web-standard technologies.",
    title: "Front-End Umbraco Developer in Chester",
  }}
>
  <div class="bg-primary-700  flex  font-extralight  items-center  grow  py-16  text-center  text-white  sm:py-32  md:py-48">
    <Container>
      <h1 class="text-3xl  sm:text-4xl  md:text-5xl">Hello! I'm Christopher 👋🏻</h1>
    </Container>
  </div>
  <Container>
    <div class="bg-white  border  border-zinc-200  float-right  hidden  ml-12  my-16  p-3  rotate-3  rounded-md  shadow  transform  w-60  sm:block">
      <Picture
        alt="Photo of Christopher Robinson"
        class="rounded-md"
        densities={[2]}
        formats={['avif', 'webp']}
        height={240}
        pictureAttributes={{ class: '!m-0' }}
        src={me}
        width={240}
      />
      <span class="block  mt-3  text-center  text-sm   text-zinc-600">Photo of Christopher Robinson</span>
    </div>
    <div class="max-w-none  prose  py-8  sm:py-16  md:prose-md  lg:prose-lg">
      <p>I have <strong>over eighteen years of professional experience</strong> developing websites and applications of varying size and scale based on web-standard technologies; from clean coded HTML and reusable CSS components with responsive techniques and progressive enhancement, through to the modern headless web with <strong>React</strong>, <strong>styled-components</strong>, and <strong>GraphQL</strong> endpoints.</p>
      <p>I am an <strong>Umbraco Certified Expert</strong> and have been creating Umbraco websites using ASP.NET (MVC, C#, Angular) for over 16 years. Although this site is <a href="https://astro.build/" rel="external  nofollow  noopener  noreferrer" target="_blank">built using Astro</a> and the source code is available on <a href="https://github.com/christopherrobinson/christopherrobinson.uk" rel="external  nofollow  noopener  noreferrer" target="_blank">my GitHub profile</a>.</p>
      <p>Want to know more? Head over to the <a href="/about/">About</a> page.</p>
    </div>
  </Container>
  <LatestBlogPosts heading="Latest blog posts" />
</Layout>
