---
import { Icon } from 'astro-icon/components';
import Container from '@/components/Container.astro';
import NavItem from '@/components/Layout/Header/NavItem.astro';
import NavItemMobile from '@/components/Layout/Header/NavItemMobile.astro';
import PercentageScrolled from '@/components/Layout/Header/PercentageScrolled.astro';

type Props = Record<string, never>;
---

<header class="backdrop-blur  bg-opacity-80  bg-white  border-b  border-t-2  border-zinc-200  sticky  top-0  z-20">
  <PercentageScrolled />
  <Container>
    <div class="flex  items-center  justify-between  py-2  sm:py-4">
      <a class="flex  items-center  -mx-2  p-2" href="/" transition:persist>
        <Icon class="mr-1  size-4  text-primary-700" name="code" />
        christopher<span class="font-medium">robinson</span>
      </a>
      <div class="sm:hidden">
        <button
          aria-label="Open navigation"
          class="flex  items-center  justify-center  -mx-2  p-2"
          id="openNavigation"
          type="button"
        >
          <Icon class="flex-shrink-0  size-4" name="bars" />
        </button>
      </div>
      <div class="hidden  -mr-4  sm:block">
        <ul class="flex  items-center  lowercase  text-sm">
          <NavItem href="/about/">About</NavItem>
          <NavItem href="/blog/">Blog</NavItem>
          <NavItem href="/projects/">Projects</NavItem>
          <NavItem href="/contact/">Contact</NavItem>
        </ul>
      </div>
    </div>
  </Container>
</header>

<div
  class="absolute  bottom-0   bg-white  hidden  items-center  justify-center  left-0  right-0  top-0  z-20"
  id="navigation"
>
  <div class="fixed  flex  h-screen  items-center  justify-center  left-0  top-[2px]  w-screen  z-10">
    <button
      aria-label="Close navigation"
      class="absolute  flex  items-center  justify-center  mr-2  mt-3  p-2  right-0  size-8  top-0"
      id="closeNavigation"
      type="button"
    >
      <Icon class="flex-shrink-0  size-4" name="x" />
    </button>
    <ul class="flex  flex-col  items-center  text-sm">
      <NavItemMobile href="/">Home</NavItemMobile>
      <NavItemMobile href="/about/">About</NavItemMobile>
      <NavItemMobile href="/blog/">Blog</NavItemMobile>
      <NavItemMobile href="/projects/">Projects</NavItemMobile>
      <NavItemMobile href="/contact/">Contact</NavItemMobile>
    </ul>
  </div>
</div>

<script>
  document.addEventListener('astro:page-load', () => {

    const navigation            = document.getElementById('navigation')
    const openNavigationButton  = document.getElementById('openNavigation')
    const closeNavigationButton = document.getElementById('closeNavigation')

    openNavigationButton?.addEventListener('click', () => {
      navigation?.classList.remove('hidden')
      navigation?.classList.add('block')
    })

    closeNavigationButton?.addEventListener('click', () => {
      navigation?.classList.add('hidden')
      navigation?.classList.remove('block')
    })

  })
</script>
