---
export interface Props {
  href: string;
}

const { href } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === `/${pathname.split('/')[1]}/`;
---

<li>
  <a
    class={
      `block  font-medium  my-2  px-4  py-2  text-2xl
      ${(isActive && 'text-primary-600  underline') || 'text-zinc-800  hover:underline'}
    `}
    href={href}
  >
    <slot />
  </a>
</li>
