---
import { type ContainerProps } from '@/types/Container';

const { class: className } = Astro.props as ContainerProps;
---

<div class:list={["mx-auto  max-w-[96rem]  px-4  w-full  lg:px-8", className]}>
  <slot />
</div>
