---
import 'mapbox-gl/dist/mapbox-gl.css'

import Container from './Container.astro'

const { class: className, heading, ...props } = Astro.props
---

<div class="relative">
  <div class="absolute  bottom-0  left-0  right-0  z-10">
    <Container>
      <div class="inline-block  bg-opacity-80  bg-zinc-900  -ml-6  p-6">
        <h1 class="font-medium  text-2xl  text-white">{heading}</h1>
      </div>
    </Container>
  </div>
  <div class:list={['absolue  bottom-0  left-0  right-0  top-0', className]} id="map">
  </div>
</div>

<script>
  import mapboxgl from 'mapbox-gl'

  document.addEventListener('astro:page-load', () => {

    const map = document.querySelector<HTMLElement>('#map')

    if (map) {

      const mapbox = new mapboxgl.Map({
        accessToken: import.meta.env.PUBLIC_MAPBOX_ACCESS_TOKEN,
        attributionControl: false,
        compact: true,
        container: 'map',
        center: [-2.929081, 53.1925333],
        interactive: false,
        logoPosition: 'bottom-right',
        zoom: 9,
      })

    }

  })
</script>
