---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Default.astro";
---

<Layout heading="Weather Location Codes">
  <Container>
    <div class="max-w-none  prose  py-8  sm:py-16  md:prose-md  lg:prose-lg">
      <p>Here you will find a comprehensive listing of weather location codes/IDs by country. These are as used by <a href="http://weather.aol.com/" rel="external" title="Visit AOL Weather">AOL Weather</a>, <a href="http://www.weather.com/" rel="external" title="Visit The Weather Channel">The Weather Channel (weather.com)</a>, <a href="https://weather.yahoo.com/" rel="external" title="Visit Yahoo! Weather">Yahoo! Weather</a> and many more.</p>
      <p>Also used by <strong>Rainmeter</strong>, these weather codes are needed for various <strong>iPhone</strong>, <strong>Android</strong> and <strong>Windows Phone</strong> applications and widgets.</p>
      <p>To get your code, please choose a country from below to view the respective weather codes. Alternatively, search by location name using the search box.</p>
    </div>
    <div class="bg-zinc-100  border  border-zinc-200  p-4  rounded-sm  sm:-my-8">
      <form action="https://weather.codes/search/" method="get">
        <div class="flex  gap-4">
          <input class="block  border-zinc-200  px-3  py-2  rounded-sm  shadow-xs  w-full  focus:border-zinc-200  focus:ring-zinc-200" id="q" name="q" placeholder="Enter a location…" type="text">
          <button class="bg-primary-700  border  border-transparent  font-medium  h-full  items-center  px-8  py-2  rounded-sm  shadow-xs  text-white  transition  focus:outline-hidden  focus:ring-2  focus:ring-blue-400  focus:ring-offset-2  hover:bg-primary-900" type="submit">Search</button>
        </div>
      </form>
    </div>
    <div class="max-w-none  prose  py-8  sm:py-16  md:prose-md  lg:prose-lg">
      <p><strong>Note:</strong> All US Postal/ZIP Codes are already valid Location IDs, so they do not require a search. They are included for relative completeness.</p>
    </div>
  </Container>
</Layout>
