---
import Container from '@/components/Container.astro';
import Elsewhere from '@/components/Layout/Footer/Elsewhere.astro';

export interface Props {
  minimal?: boolean;
}

const { minimal } = Astro.props;
---

<footer class="bg-zinc-900  mt-auto  text-opacity-80  text-white">
  {!minimal && (
    <div class="border-b  border-zinc-800  py-16  lg:py-32">
      <Container>
        <strong class="block  font-extralight  pb-12  text-2xl  lg:pb-24  lg:text-3xl">
          Front-End Developer and Umbraco Certified Expert
        </strong>
        <div class="grid-cols-2  gap-12  grid  lg:grid-cols-12">
          <div class="col-span-2  lg:col-span-8  lg:mb-0  lg:order-2">
            <strong class="border-b  border-opacity-60  border-white  inline-block  mb-4  pb-1  text-lg  font-extralight">
              About
            </strong>
            <p class="mb-6">
              I have{" "}
              <strong class="font-medium">
                over eighteen years of professional experience
              </strong>{" "}
              developing websites and applications of varying size and scale
              based on web-standard technologies; from clean coded HTML and
              reusable CSS components with responsive techniques and progressive
              enhancement, through to the modern headless web with{" "}
              <strong class="font-medium">React</strong>,{" "}
              <strong class="font-medium">styled-components</strong>, and{" "}
              <strong class="font-medium">GraphQL</strong> endpoints.
            </p>
          </div>
          <div class="col-span-1  lg:col-span-2  lg:order-1">
            <strong class="border-b  border-opacity-60  border-white  inline-block  mb-4  pb-1  text-lg  font-extralight">
              Location
            </strong>
            <ul>
              <li>Chester, England</li>
            </ul>
          </div>
          <div class="col-span-1  lg:col-span-2  lg:order-3">
            <strong class="border-b  border-opacity-60  border-white  inline-block  mb-4  pb-1  text-lg  font-extralight">
              Elsewhere
            </strong>
            <Elsewhere />
          </div>
        </div>
      </Container>
    </div>
  )}
  <div class="bg-zinc-950  py-4  text-center  text-opacity-60  text-sm  text-white" transition:persist>
    <Container class="sm:flex  sm:items-center  sm:justify-between">
      <span class="block  mb-4  sm:mb-0">
        &copy;{new Date().getFullYear()} {site.name}
      </span>
      <ul class="flex  items-center  justify-center  sm:-mr-3">
        <li class="mx-3">
          <a class="transition  hover:text-white  hover:underline" href="/privacy/">
            Privacy
          </a>
        </li>
        <li class="mx-3">
          <a class="transition  hover:text-white  hover:underline" href="/cookies/">
            Cookies
          </a>
        </li>
        <li class="mx-3">
          <a
            class="flex  items-center  transition  hover:text-white  hover:underline"
            href="/rss.xml"
          >
            <span>RSS</span>
            <Icon class="h-3  ml-2" name="rss" />
          </a>
        </li>
      </ul>
    </Container>
  </div>
</footer>
