---
import Footer from '@/components/Layout/Footer/index.astro';
import Header from '@/components/Layout/Header/index.astro';
import BaseHead from '@/components/BaseHead.astro';
import Container from '@/components/Container.astro';

export interface DefaultLayoutProps {
  heading?: string;
  layout?: {
    footer?: {
      minimal?: boolean;
    };
  };
  meta?: {
    description?: string;
    title?: string;
  };
}

const { heading, layout, meta } = Astro.props;
---

<html lang="en">
  <Head>
    <BaseHead title={meta?.title || heading || ``} description={meta?.description} />
  </Head>

  <body class="min-w-[360px]">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src={`https://www.googletagmanager.com/ns.html?id=${import.meta.env.PUBLIC_GOOGLE_TAG_MANAGER_ID}`} height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="bg-white  flex  flex-col  font-light  min-h-screen  relative  text-zinc-800">
      <Header />
      <main class="bg-white  flex  flex-col  grow">
        {heading && (
          <div class="bg-primary-700  py-8  text-white  lg:py-16">
            <Container>
              <h1 class="font-extralight  text-2xl  lg:text-3xl" set:html={heading}></h1>
            </Container>
          </div>
        )}
        <slot />
      </main>
      <Footer {...layout?.footer} />
    </div>
  </body>
</html>
